.back {
  padding-top: calc(20px + 8.5vh);
  padding-left: calc(10px + 0.5vw)
}

.bha {
  position: fixed;
  font-size: calc(37.5px + 0.3vw + 0.6vh);
  color: #808080;
  letter-spacing: 0.125vw;
}

.bha:hover {
  color: #e6e6e6;
  text-decoration: underline;
}

.bha:hover:after {
  content: ' back';
  font-size: 30%;
}

#backhome:hover:after {
  content: ' home';
  font-size: 30%;
}

#arrSpace { padding-bottom: 5vh; }
span.big { font-size: calc(8px + 0.25vh + 0.2vw); }
span.smallLetters { font-size: calc(8px + 0.15vh + 0.125vw); }

.websiteImages {
  padding: calc(3.5px + 1vw);
  max-width: 50%;
  border: 1.5px solid #0000FF;
  background-color: #0d0d0d;
}

.reg-images {
  display: block;
  max-width: 100%;
  min-width: 100%;
}

.images {
  position: absolute;
  top: calc(65px + 8.5vh);
  left: calc(15px + 10vw);
  padding-left: 7vw;
}

.sidebar {
  position: absolute;
  top: calc(65px + 8.5vh);
  left: calc(65vw + 25px);
  width: calc(20px + 20vw);
  padding: calc(3px + 1vw);
  border: 1.5px solid #0000FF;
  background-color: #0d0d0d;
  line-height: calc(70% + 0.5vh + 0.3vw);
}

.container {
  position: relative;
  max-width: 50%;
  min-width: 50%;
}

.hoverables {
  display: block;
  max-width: 100%;
  min-width: 100%;
}

.text {
  font-size: calc(7px + 0.65vw);
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.statement {
  color: #E6E6E6;
  text-decoration: none;
  font-size: calc(8px + 0.75vw + 0.4vh);
}

/* text on images */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #808080;
}

.container:hover, .overlay { opacity: 0.85; }

/* fullscreen images */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0d0d0d;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

#popimage {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

@media only screen and (max-width: 415px) {

  .back {
    padding-top: calc(15px + 5.5vh);
    padding-left: calc(7.5px + 0.5vw);
  }

  .bha:hover:after, #backhome:hover:after {
    content: '';
    font-size: 0px;
  }

  .bha:hover, #backhome:hover { text-decoration: none; }
  #arrSpace { padding-bottom: 2vh; }
  .websiteImages { border: 1px solid #0000FF; }

  span.big { font-size: calc(8px + 0.2vh + 0.1vw); }
  span.smallLetters { font-size: calc(8px + 0.1vh + 0.1vw); }

  .images {
    top: calc(40px + 7vh);
    left: calc(9vw + 12.5px);
  }

  .sidebar {
    top: calc(40px + 7vh);
    left: calc(63vw + 15px);
    width: calc(28px + 20vw);
    padding: calc(1vh + 0.75vw) calc(1vw + 0.5vh) calc(1vh + 0.75vw) calc(1vw + 0.5vh);
    line-height: 80%;
    border: 1px solid #0000FF;
  }
}
