input, input:before, input:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  user-select: initial;
}

body {
  color: #e6e6e6;
  font-family: Helvetica;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  cursor: auto;
  background-color: #00008B;
  padding-bottom: calc(10px + 5vh);
  border: 1.5px solid #0000FF;
}

a, a:visited { text-decoration: none; }
.statement:hover, .galleries:hover, .baritem:hover, .archive:hover, .bigwork:hover, .highlite:hover { text-decoration: underline; cursor: auto; }

html { background-color: #0d0d0d; width: 67.5%; }

#header {
  padding-left: calc(15px + 0.5vw);
  font-size: calc(13px + 1.25vw);
  letter-spacing: 0.285vw;
  line-height: 120%;
}

/* misc. */
.smallspace { padding-bottom: 1.5vh; }
/* between paragraphs */
.space { padding-bottom: calc(1vh + 1vw); }
/* between images */
.iSpace { padding-bottom: calc(2.5vh + 2.5vw); }
/* used in nav */
.medspace { padding-bottom: calc(2vh + 1vw); }
/* used in nav */
.gap { padding-bottom: calc(3.5vh + 2vw); }
/* btw home links */
.homespace { padding-bottom: calc(0.5vh + 2.25vw); }
/* highlites */
.highgap { padding-bottom: calc(7.5px + 6vh + 2vw); }
.endspace { padding-bottom: 7.5vh; }
.hugespace { padding-bottom: 15vh; }
.indent { padding-right: 5%; }

.modal, .abt-modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: calc(52.5px + 4vh);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00008B;
}

.modal-content, .abt-modal-content {
  background-color: #0d0d0d;
  margin: auto;
  padding: calc(12px + 0.35vw + 0.35vh);
  width: 70%;
  overflow: auto;
  overflow-y: auto;
  border: 1.5px solid #0000FF;
}

#Phclose, #Arcclose, #Contactclose, #CVclose, #Aboutclose, #Wclose, #Pclose, #SWclose {
  color: #808080;
  float: right;
  font-size: calc(37.5px + 0.75vw + 0.75vh);
  font-weight: bold;
  line-height: 100%;
}

#PHclose:hover, #Arcclose:hover, #Contactclose:hover, #CVclose:hover, #Aboutclose:hover, #Wclose:hover, #Pclose:hover, #SWclose:hover {
  color: #e6e6e6;
  text-decoration: none;
}

.galleries {
  padding-left: 4vw;
  position: absolute;
  font-size: calc(15px + 0.8vw + 1vh);
  letter-spacing: 0.075vw;
}

.highlite {
  color: #E6E6E6; /* needed */
  padding-left: 4vw;
  position: absolute;
  font-size: calc(7px + 1vw + 1.2vh);
  width: 65vw;
  letter-spacing: 0.075vw;
}

.slash {
  position: absolute;
  font-size: calc(7px + 1vw + 1.2vh);
}

.archive {
  font-size: calc(15px + 1.25vw);
  letter-spacing: 0.075vw;
  text-align: center;
  margin: auto;
  width: 50%;
}

@media only screen and (max-width: 415px) {

  html { width: 80%; }

  body {
    padding-bottom: calc(10px + 3vh);
    border: 1px solid #0000FF;
  }

  #header {
    padding-left: calc(10px + 0.5vw);
    font-size: calc(12px + 1.25vw);
    line-height: calc(100% + 0.75vh);
  }

  .modal { padding-top: calc(25px + 12.5vh); }
  .modal-content { width: 80%; }

  .galleries { font-size: calc(12px + 0.8vw + 1vh); }
  .highlite { padding: 0 0 5vw 6vw; }
  .slash, .highlite { font-size: calc(6px + 0.9vw + 0.9vh); }

  .gap { padding-bottom: calc(4.5vh + 2vw); }
  .homespace { padding-bottom: calc(2.5vh + 1.5vw); }
  .inbspace { padding-bottom: calc(8vh - (6vh - 1vw)); }
  .space { padding-bottom: calc(2vh + 1vw); }
  .medspace { padding-bottom: calc(3.25vh + 1vw); }
  .endspace { padding-bottom: 5vh; }
}
