input, input:before, input:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  user-select: initial;
}

body {
  color: #e6e6e6;
  font-family: Helvetica;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  cursor: auto;
  background-color: #00008B;
  padding-bottom: calc(10px + 5vh);
  border: 1.5px solid #0000FF;
}

#body2 {
  background-color: #0d0d0d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  max-width: 40%;
  max-height: 85%;
  display: -webkit-flex;
  display: flex;
  margin: auto;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

#html2 { background-color: #00008B; }

a, a:visited { text-decoration: none; }
.statement:hover, .galleries:hover, .baritem:hover, .archive:hover, .bigwork:hover, .highlite:hover { text-decoration: underline; cursor: auto; }

html { background-color: #0d0d0d; width: 67.5%; }

.invisible { color: transparent; }
.strike, .strike2 { text-decoration: line-through; }
.strike { color: #FFC0CB; }
.strike2 { color: #ADD8E6; }

.wrapper {
  width: calc(25px + 25vw);
  padding-top: calc(0.75vh + 2px);
  padding-left: calc(2vw + 5px);
  font-size: calc(5px + 2.75vw);
  letter-spacing: 0.285vw;
  line-height: 120%;
}

#header {
  padding-left: calc(15px + 0.5vw);
  font-size: calc(13px + 1.25vw);
  letter-spacing: 0.285vw;
  line-height: 120%;
}

.left {
  position: relative;
  display: none;
  padding-top: calc(15px + 10vh);
  padding-left: calc(2vw + 5px);
  margin: 0 auto;
}

#check1 {
  width: calc(1.5vw + 15px);
  text-align: center;
  font-size: 13px;
  margin-right: 0.5vw;
}

#check2 {
  width: calc(1.5vw + 15px);
  text-align: center;
  font-size: 13px;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}

#answer {
  width: calc(1.5vw + 20px);
  text-align: center;
  font-size: 13px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.back {
  padding-top: calc(20px + 8.5vh);
  padding-left: calc(10px + 0.5vw)
}

/* helps sound page not be super long */
.main { float: left; }

.bha {
  position: fixed;
  font-size: calc(37.5px + 0.3vw + 0.6vh);
  color: #808080;
  letter-spacing: 0.125vw;
}

.bha:hover {
  color: #e6e6e6;
  text-decoration: underline;
}

.bha:hover:after {
  content: ' back';
  font-size: 30%;
}

#backhome:hover:after {
  content: ' home';
  font-size: 30%;
}

.soundscape {
  max-width: 50vw;
  position: relative;
  left: calc(40px + 17.5vw);
  top: -55px;
}

/* text below audio clips */
.sound {
  display: block;
  font-size: calc(8px + 0.25vh + 0.2vw);
  width: 26vw;
  text-align: center;
}

/* annoyingly needed */
.sound:hover { text-decoration: none; }
#playlist { color: pink; }
#playlist:hover { color: hotpink; text-decoration: underline; }
.audio { width: calc(25px + 27.5vw); }

.about { font-size: calc(10px + 0.125vw + 0.125vh); }

#CV, #RESUME, #checked { display: none; }

span.big { font-size: calc(8px + 0.25vh + 0.2vw); }
span.smallLetters { font-size: calc(8px + 0.15vh + 0.125vw); }

.websiteImages {
  padding: calc(3.5px + 1vw);
  max-width: 50%;
  border: 1.5px solid #0000FF;
  background-color: #0d0d0d;
}

.reg-images {
  display: block;
  max-width: 100%;
  min-width: 100%;
}

.images {
  position: absolute;
  top: calc(65px + 8.5vh);
  left: calc(15px + 10vw);
  padding-left: 7vw;
}

.sidebar {
  position: absolute;
  top: calc(65px + 8.5vh);
  left: calc(65vw + 25px);
  width: calc(20px + 20vw);
  padding: calc(3px + 1vw);
  border: 1.5px solid #0000FF;
  background-color: #0d0d0d;
  line-height: calc(70% + 0.5vh + 0.3vw);
}

.container {
  position: relative;
  max-width: 50%;
  min-width: 50%;
}

.hoverables {
  display: block;
  max-width: 100%;
  min-width: 100%;
}
 .text {
  font-size: calc(7px + 0.65vw);
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.statement {
  color: #E6E6E6;
  text-decoration: none;
  font-size: calc(8px + 0.75vw + 0.4vh);
}

/* text on images */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #808080;
}

.container:hover .overlay { opacity: 0.85; }

/* fullscreen images */
#overlay, #body2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0d0d0d;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

#popimage {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

#arrSpace { padding-bottom: 5vh; }
/* misc. */
.smallspace { padding-bottom: 1.5vh; }
/* between paragraphs */
.space { padding-bottom: calc(1vh + 1vw); }
/* between images */
.iSpace { padding-bottom: calc(2.5vh + 2.5vw); }
/* btw home links */
.homespace { padding-bottom: calc(0.5vh + 2.25vw); }
/* used in nav */
.medspace { padding-bottom: calc(2vh + 1vw); }
/* used in nav */
.gap { padding-bottom: calc(3.5vh + 2vw); }
/* highlites */
.highgap { padding-bottom: calc(7.5px + 6vh + 2vw); }
.endspace { padding-bottom: 7.5vh; }
.hugespace { padding-bottom: 15vh; }

.in { padding-left: 2%; }
.indent { padding-right: 5%; }

/* Create two equal columns that floats next to each other */
.column1, .column2 {
  float: left;
  width: 40%;
  padding-top: 15px;
  padding-left: calc(10px + 0.5vw);
  padding-right: calc(10px + 1.5vw);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.modal, .abt-modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: calc(52.5px + 4vh);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00008B;
}

.modal-content, .abt-modal-content {
  background-color: #0d0d0d;
  margin: auto;
  padding: calc(12px + 0.35vw + 0.35vh);
  width: 70%;
  overflow: auto;
  overflow-y: auto;
  border: 1.5px solid #0000FF;
}

.abt-modal-content {
  line-height: 120%;
  max-height: calc(100vh - 210px);
}

/* abt unused, leaving for test */
.ph_close, .arc_close, .abt_close, .c_close, .cv_close, .a_close, .w_close, .p_close, .sw_close {
  color: #808080;
  float: right;
  font-size: calc(37.5px + 0.75vw + 0.75vh);
  font-weight: bold;
  line-height: 100%;
}

.ph_close:hover, .arc_close:hover, .c_close:hover, .cv_close:hover, .a_close:hover, .w_close:hover, .p_close:hover, .sw_close:hover {
  color: #e6e6e6;
  text-decoration: none;
}

.baritem {
  position: absolute;
  font-size: calc(12px + 1.75vw);
  letter-spacing: 0.125vw;
}

.bigwork {
  font-size: calc(14px + 3vw);
  letter-spacing: 0.15vw;
}

 .m_c {
  color: #e6e6e6;
  /* weirdly needed the above when put on github */
  position: absolute;
  text-decoration: none;
  font-size: calc(15px + 0.8vw + 0.5vh);
  padding-bottom: calc(1vh + 0.5vw);
  letter-spacing: 0.075vw;
}

.m_cc {
  text-decoration: none;
  font-size: calc(8px + 0.5vw);
  letter-spacing: 0.075vw;
}

.galleries {
  padding-left: 4vw;
  position: absolute;
  font-size: calc(15px + 0.8vw + 1vh);
  letter-spacing: 0.075vw;
}

.highlite {
  color: #E6E6E6; /* needed */
  padding-left: 4vw;
  position: absolute;
  font-size: calc(7px + 1vw + 1.2vh);
  width: 65vw;
  letter-spacing: 0.075vw;
}

.slash {
  position: absolute;
  font-size: calc(7px + 1vw + 1.2vh);
}

.slash:hover { text-decoration: none; }

.archive {
  font-size: calc(15px + 1.25vw);
  letter-spacing: 0.075vw;
  text-align: center;
  margin: auto;
  width: 50%;
}

@media only screen and (max-width: 415px) {

  body {
    padding-bottom: calc(10px + 3vh);
    border: 1px solid #0000FF;
  }

  #body2 {
    max-width: 65%;
    max-height: 65%;
  }

  .wrapper {
    width: calc(25px + 47.5vw);
    font-size: calc(1.4vw + 20px);
    padding-top: calc(0.5vh + 2px);
    padding-left: calc(3vw + 5px);
  }

  #header {
    padding-left: calc(10px + 0.5vw);
    font-size: calc(12px + 1.25vw);
    line-height: calc(100% + 0.75vh);
  }

  .baritem { font-size: calc(7px + 4vw); }
  .bigwork { font-size: calc(13px + 5vw); }

  .about { line-height: 85%; }

  .column1 {
    padding-right: calc(1.25vw + 10px);
    padding-left: calc(0.5vw + 3px);
  }
  .column2 {
    padding-top: 5px;
    padding-right: calc(1vw + 8px);
  }

  .left {
    padding-top: calc(10px + 7.5vh);
    padding-left: calc(3vw + 5px);
  }

  .back {
    padding-top: calc(15px + 5.5vh);
    padding-left: calc(7.5px + 0.5vw);
  }

  .bha:hover, #backhome:hover { text-decoration: none; }

  .bha:hover:after, #backhome:hover:after {
    content: '';
    font-size: 0px;
  }

  #arrSpace { padding-bottom: 2vh; }
  span.big { font-size: calc(8px + 0.2vh + 0.1vw); }
  span.smallLetters { font-size: calc(8px + 0.1vh + 0.1vw); }

  .websiteImages { border: 1px solid #0000FF; }

  .images {
    top: calc(40px + 7vh);
    left: calc(9vw + 12.5px);
  }

  .sidebar {
    top: calc(40px + 7vh);
    left: calc(63vw + 15px);
    width: calc(28px + 20vw);
    padding: calc(1vh + 0.75vw) calc(1vw + 0.5vh) calc(1vh + 0.75vw) calc(1vw + 0.5vh);
    line-height: 80%;
    border: 1px solid #0000FF;
  }

  .soundscape {
    max-width: 20vw;
    left: 27.5vw;
    top: -13vh;
  }

  .sound { width: calc(10px + 30vw); }

  .main {
    position: relative;
    left: -5vw;
    padding-top: calc(10px + 5vh);
  }

  .m_c { font-size: calc(13px + 0.8vw + 0.5vh); }
  .m_cc { font-size: calc(9px + 0.5vw); }

  .modal { padding-top: calc(25px + 12.5vh); }
  .abt-modal { padding-top: calc(25px + 4vh); }
  .modal-content { width: 80%; }
  .abt-modal-content { line-height: 90%; }

  .galleries { font-size: calc(12px + 0.8vw + 1vh); }
  .highlite { padding: 0 0 5vw 6vw; }
  .slash, .highlite { font-size: calc(6px + 0.9vw + 0.9vh); }

  .gap { padding-bottom: calc(4.5vh + 2vw); }
  .homespace { padding-bottom: calc(2.5vh + 1.5vw); }
  .inbspace { padding-bottom: calc(8vh - (6vh - 1vw)); }
  .space { padding-bottom: calc(2vh + 1vw); }
  .medspace { padding-bottom: calc(3.25vh + 1vw); }
  .endspace { padding-bottom: 5vh; }
}
