* {
    font-family: Helvetica;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    cursor: auto;
}

input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
   }

#header {
   padding-left: 20px;
   font-size: 40px;
   letter-spacing: 4px;
}

body {
  color: #FFFFFF;
  background-color: #000000;
}

#check1, #check2 { width: 30px; text-align: center; }
#answer { width: 40px; text-align: center; }

.left {
     padding-top: 5%;
     width: 40%;
     margin: 0 auto;
}

.back {
    width: 200px;
    padding-top: 70px;
    padding-left: 20px;
}

.top {
    position: absolute;
    left:300px;
    right:0;
    top:128px;
    height: 110px;
}

.main { float: left; }

.baritem {
     text-decoration: none;
     font-size: 200%;
     letter-spacing: 1px;
     border: none;
}

.bha {
     position: fixed;
     text-decoration: none;
     font-size: 300%;
     color: #808080;
     letter-spacing: 1px;
     border: none;
}

.bha:hover {
    text-decoration: none;
    font-size: 300%;
    color: #FFFFFF;
    letter-spacing: 1px;
    border: none;
}

.bha:hover:after {
  content: ' back';
  font-size: 30%;
}

#backhome:hover:after {
    content: ' home';
    font-size: 30%;
}

.bigWork {
     text-decoration: none;
     font-size: 300%;
     letter-spacing: 1px;
     border: none;
}

.soundscape {
     max-width: 800px;
     max-height: 500px;
     position: relative;
     left: 260px;
     top: -32px;
     right: 0;
     bottom: 0;
}

.sound {
  text-align: left;
  display: block;
}

.audio { width: 350px; }

#me {
     max-width: 375px;
     padding-left: 65px;
     padding-right: 90px;
     padding-bottom: 50px;
}

#abt { padding-right: 80px; }
#about { font-size: 14px; }

#checked { display: none; }

#CV { display: none; }
#RESUME { display: none; }

div.absolute {
     position: relative;
     top: -533px;
     left: 520px;
     width: 360px;
     height: 640px;
     font-size: 16px;
}

span.big {
     line-height: 150%;
     font-size: 14px;
}

span.bigLetters {
     line-height: 150%;
     font-size: 30px;
     letter-spacing: 2px;
}

span.verySmall {
     line-height: 150%;
     font-size: 10px;
}

.smallLetters {
    font-size: 12px;
}

.reg-images {
     display: block;
     max-width: 50%;
     min-width: 50%;
}

.images {
    position: absolute;
    left:200px;
    top:132px;
    right:0px;
    bottom:0px;
    padding-left: 7%;
}

.websiteImages { max-width: 100%; }

.absolute2 {
    position: absolute;
    top: 125px;
    left: 66%;
    width: 300px;
    padding-bottom: 40px;
}

.container {
     position: relative;
     max-width: 50%;
     min-width: 50%;
}

.hoverables {
     display: block;
     max-width: 100%;
     min-width: 100%;
}
 .text {
     font-size: 14px;
     position: relative;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     text-align: center;
}

.overlay {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     width: 100%;
     opacity: 0;
     transition: .5s ease;
     background-color: #808080;
}

.container:hover .overlay {
     opacity: 0.85;
}

#overlay {
     position: fixed;
     top: 0;
     left: 0;
     bottom: 0;
     background: #000000;
     width: 100%;
     height: 100%;
}

#popimage {
     display: block;
     max-width: 100%;
     max-height: 100%;
     margin: auto;
}

/* really stupid custom right click welcome message */
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
}

.custom-menu li {
    padding: 8px;
    font-size: 14px;
    color: #808080;
    list-style-type: none;
}

.custom-menu:hover li {
    padding: 8px;
    font-size: 14px;
    color: #FFFFFF;
    list-style-type: none;
}

.in { padding-left: 2%; }
.smallspace { padding-bottom: 2%; }
.space { padding-bottom: 3%; }
.space78 { padding-bottom: 4%; }
.homespace { padding-bottom: 5%; }
.medspace { padding-bottom: 6%; }
.gap { padding-bottom: 7%; }
.bigspace { padding-bottom: 8%; }
.endspace { padding-bottom: 10%; }
.hugespace { padding-bottom: 20%; }

.indent { padding-right: 5%; }

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.modal {
     display: none;
     position: fixed;
     z-index: 1;
     padding-top: 100px;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: #000000;
}
.modal-content {
     background-color: #0000FF;
     margin: auto;
     padding: 20px;
     width: 80%;
}

.c_close, .cv_close, .a_close, .w_close, .p_close, .sw_close, .media_close, .bmedia_close, .pmedia_close, .swmedia_close {
     color: #808080;
     float: right;
     font-size: 50px;
     font-weight: bold;
}

.c_close:hover, .c_close:focus, .cv_close:hover, .cv_close:focus, .a_close:hover, .a_close:focus, .w_close:hover, .w_close:focus,
.p_close:hover, .p_close:focus, .sw_close:hover, .sw_close:focus, .media_close:hover, .media_close:focus, .bmedia_close:hover, .bmedia_close:focus,
.pmedia_close:hover, .bmedia_close:focus, .swmedia_close:hover, .bmedia_close:focus {
     color: #FFFFFF;
     text-decoration: none;
}

 .m_c {
     color: white;
     position: absolute;
     text-decoration: none;
     font-size: 200%;
     letter-spacing: 1px;
     border: none;
}
 .m_cc {
     text-decoration: none;
     font-size: 100%;
     letter-spacing: 1px;
     border: none;
}
 .galleries {
     position: absolute;
     font-size: 200%;
     letter-spacing: 1px;
     border: none;
}

#dh:hover:after{
     content:'\00a0\00a0\00a0[20]';
     font-size: 50%;
}
#d:hover:after{
     content:'\00a0\00a0\00a0[12]';
     font-size: 50%;
}
#ew:hover:after{
     content:'\00a0\00a0\00a0[13]';
     font-size: 50%;
}
#sb:hover:after{
     content:'\00a0\00a0\00a0[11]';
     font-size: 50%;
}
#one:hover:after{
     content:'\00a0\00a0\00a0[9]';
     font-size: 50%;
}
#to:hover:after{
     content:'\00a0\00a0\00a0[3]';
     font-size: 50%;
}
#p:hover:after{
     content:'\00a0\00a0\00a0[9]';
     font-size: 50%;
}
#sp:hover:after{
     content:'\00a0\00a0\00a0[8]';
     font-size: 50%;
}
#f:hover:after{
     content:'\00a0\00a0\00a0[6]';
     font-size: 50%;
}
#sl:hover:after{
     content:'\00a0\00a0\00a0[15]';
     font-size: 50%;
}
#s:hover:after{
     content:'\00a0\00a0\00a0[10]';
     font-size: 50%;
}
#digi:hover:after{
     content:'\00a0\00a0\00a0[8]';
     font-size: 50%;
}
#draw:hover:after{
     content:'\00a0\00a0\00a0[8]';
     font-size: 50%;
}
#paint:hover:after{
     content:'\00a0\00a0\00a0[8]';
     font-size: 50%;
}
#sculpt:hover:after{
    content:'\00a0\00a0\00a0[4]';
    font-size: 50%;
}
#amb:hover:after{
     content:'\00a0\00a0\00a0[7]';
     font-size: 50%;
}
#sa:hover:after{
     content:'\00a0\00a0\00a0[8]';
     font-size: 50%;
}

/* Mobile -- Portrait and Landscape 5/5s/5c/SE */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

  * {
     font-family: Helvetica;
     -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     user-select: none;
   }

   body { color: #FFFFFF; }

   .column {
     width: 100%;
     padding-left: 10px;
     padding-right: 10px;
   }

     #header {
         padding-left: 18px;
         font-weight: 250;
         font-size: 28px;
         letter-spacing: 4px;
    }
     .left {
         margin-left: 15px;
         width: 200px;
         font-size: 12px;
         padding-top: 70px;
    }
     .back {
         width: 200px;
         padding-left: 18px;
         padding-bottom: 30px;
         font-size: 15px;
    }
     .top {
         position: absolute;
         left:0;
         right:0;
         height: 110px;
    }
     .main { float: left; }

     .baritem {
         text-decoration: none;
         font-size: 200%;
         letter-spacing: 1px;
         border: none;
         color: white;
    }

    .bha {
        position: fixed;
        text-decoration: none;
        font-size: 500%;
        color: #808080;
        letter-spacing: 1px;
        border: none;
   }

   .bha:hover {
       text-decoration: none;
       font-size: 500%;
       color: #FFFFFF;
       letter-spacing: 1px;
       border: none;
   }

   #abt {
     padding-right: 20px;
     padding-bottom: 250px;
   }

   #about { font-size: 13px; }

     div.absolute {
         position: relative;
         top: -533px;
         left: 480px;
         width: 315px;
         height: 640px;
         margin-top: 20px;
         max-width: 240px;
    }
     span.big {
         line-height: 150%;
         font-size: 14px;
    }
     span.bigLetters {
         line-height: 150%;
         font-size: 30px;
    }
     span.verySmall {
         line-height: 150%;
         font-size: 20px;
    }
    .smallLetters {
        font-size: 14px;
   }
     .images {
         position: absolute;
         left:178px;
         top:92px;
         right:0;
         bottom:0;
         padding-left: 7%;
    }
     .absolute2 {
         position: absolute;
         top: 90px;
         left: 70%;
         width: 280px;
         padding-bottom: 40px;
    }

    .space { padding-bottom: 8%; }
    .space78 { padding-bottom: 6%; }
    .smallspace { padding-bottom: 6%; }
    .bigspace { padding-bottom: 12%; }
    .endspace { padding-bottom: 14%; }
    .hugespace { padding-bottom: 24%; }
    .gap { padding-bottom: 11%; }
    .mobilespace { padding-bottom: 8%; }
    .mobilesmallspace { padding-bottom: 2%; }
    .mobile7 { padding-bottom: 0%; }

    .in { padding-left: 2%; }
    .indent { padding-right: 5%; }

    .c_close, .cv_close {
         color: #808080;
         float: right;
         font-size: 30px;
         font-weight: bold;
    }

    .w_close, .p_close, .sw_close, .media_close, .bmedia_close, .pmedia_close, .swmedia_close {
        color: #808080;
        float: right;
        font-size: 30px;
        font-weight: bold;
        padding-left: 25px;
   }

     .c_close:hover, .c_close:focus {
         color: #FFFFFF;
         text-decoration: none;
    }
     .cv_close:hover, .cv_close:focus {
         color: #FFFFFF;
         text-decoration: none;
    }
     .a_close {
         color: #808080;
         float: right;
         font-size: 30px;
         font-weight: bold;
         padding-bottom: 390px;
    }

     .a_close:hover, .a_close:focus, .w_close:hover, .w_close:focus, .p_close:hover, .p_close:focus, .sw_close:hover, .sw_close:focus,
     .media_close:hover, .media_close:focus, .bmedia_close:hover, .bmedia_close:focus, .pmedia_close:hover, .bmedia_close:focus, .swmedia_close:hover, .bmedia_close:focus {
         color: #FFFFFF;
         text-decoration: none;
    }

    .m_c {
        position: absolute;
        text-decoration: none;
        font-size: 135%;
        color: white;
        letter-spacing: 1px;
        border: none;
   }
    .m_cc {
        text-decoration: none;
        font-size: 80%;
        letter-spacing: 1px;
        border: none;
        color: white;
   }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        overflow-y: auto;
        background-color: #000000;
      }
    .modal-content {
        background-color: #0000FF;
        color: white;
        margin: auto;
        padding: 20px;
        width: 80%;
        overflow-y: auto;
   }

   .galleries {
       position: absolute;
       font-size: 200%;
       letter-spacing: 1px;
       border: none;
  }

  #mybMediaBtn { display: none; }

  #mypMediaBtn { display: none; }

  #myswMediaBtn { display: none; }

  #backhome:hover:after {
      content: ' home';
      font-size: 30%;
  }
}
