input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

body {
  color: #FFFFFF;
  background-color: #00008B;
  font-family: Helvetica;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  cursor: auto;
  padding-bottom: calc(10px + 5vh);
  width: 120%;
  border: 1.5px solid #0000FF;
}

#body2 { background-color: #000000; }
#html2 { background-color: #00008B; }

a, a:visited { text-decoration: none; }
a:hover, .statement:hover, .galleries:hover, .bigwork:hover, .highlite:hover { text-decoration: underline; cursor: auto; }

html { background-color: #000000; width: 67.5%; }

.invisible { color: transparent; }
.strike { text-decoration: line-through; color: #FFC0CB; }
.strike2 { text-decoration: line-through; color: #ADD8E6; }

#arrSpace { padding-bottom: 5vh; }

.wrapper {
  width: calc(25px + 25vw);
  padding: 0vw 0vw 0vw 1.5vw;
  font-size: calc(14px + 1.75vw);
  letter-spacing: 0.285vw;
  line-height: 120%;
}

#header {
  padding-left: calc(15px + 0.5vw);
  font-size: calc(13px + 1.25vw + 0.3vh);
  letter-spacing: 0.285vw;
  line-height: 120%;
}

.left {
  display: none;
  padding-top: 3vh;
  width: 20%;
  margin: 0 auto;
}

#check1 {
  width: calc(1.5vw + 15px);
  text-align: center;
  font-size: 13px;
  margin-right: 0.5vw;
}

#check2 {
  width: calc(1.5vw + 15px);
  text-align: center;
  font-size: 13px;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}

#answer {
  width: calc(1.5vw + 20px);
  text-align: center;
  font-size: 13px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.back {
  padding-top: calc(50px + 3vh);
  padding-left: calc(10px + 0.5vw)
}

/* helps sound page not be super long */
.main { float: left; }

.bha {
  position: fixed;
  font-size: calc(37.5px + 0.3vw + 0.6vh);
  color: #808080;
  letter-spacing: 0.125vw;
}

.bha:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.bha:hover:after {
  content: ' back';
  font-size: 30%;
}

#backhome:hover:after {
  content: ' home';
  font-size: 30%;
}

.soundscape {
  max-width: 50vw;
  position: relative;
  left: calc(40px + 17.5vw);
  top: -55px;
}

.sound {
  display: block;
  font-size: calc(7px + 0.6vw);
  width: 26vw;
}

/* annoyingly needed */
.sound:hover { text-decoration: none; }
#playlist { color: #FFFFFF; }
#playlist:hover { color: pink; text-decoration: underline; }
.audio { width: 25vw; }

.about {
  font-size: calc(8px + 0.2vw + 0.2vh);
  line-height: 120%;
}

#CV, #RESUME, #checked { display: none; }

span.big { font-size: calc(8px + 0.25vh + 0.2vw); }
span.smallLetters { font-size: calc(8px + 0.15vh + 0.125vw); }

.reg-images {
  display: block;
  max-width: 50%;
  min-width: 50%;
}

.images {
  position: absolute;
  top: calc(75px + 7vh);
  left: calc(25px + 12vw);
  padding-left: 7vw;
}

#frame { max-width: 100%; }
#iframeContainer2 { max-width: 50%; }

.absolute2 {
  position: absolute;
  top: calc(75px + 7vh);
  left: 66vw;
  width: calc(20px + 20vw);
  padding: calc(1.5vh + 0.5vw) calc(1.25vw + 0.25vh) calc(1.5vh + 0.5vw) calc(1.25vw + 0.25vh);
  background-color: #000000;
  border: 1px solid #0000FF;
  line-height: calc(75% + 0.75vh + 0.1vw);
}

.container {
  position: relative;
  max-width: 50%;
  min-width: 50%;
}

.hoverables {
  display: block;
  max-width: 100%;
  min-width: 100%;
}
 .text {
  font-size: calc(7px + 0.65vw);
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.statement {
  text-decoration: none;
  font-size: calc(8px + 0.75vw + 0.4vh);
  color: white;
}

/* text on images */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #808080;
}

.container:hover .overlay { opacity: 0.85; }

/* fullscreen images */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #000000;
  width: 100%;
  height: 100%;
}

#popimage {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.babyspace { padding-bottom: calc(0.25vw + 0.25vh); }
.smallspace { padding-bottom: 1.5vh; }
.space { padding-bottom: calc(1vh + 1vw); }
.iSpace { padding-bottom: calc(2.5vh + 2.5vw); }
.space78 { padding-bottom: 3vh; }
.homespace { padding-bottom: calc(0.5vh + 2.5vw); }
.medspace { padding-bottom: calc(2vh + 1vw); }
.endhigh { padding-bottom: calc(5px + 2.5vh + 1vw); }
.gap { padding-bottom: calc(3.5vh + 2vw); }

.highgap { padding-bottom: calc(7.5px + 6vh + 2vw); }

.bigspace { padding-bottom: calc(4.5vh + 2.5vw); }
.endspace { padding-bottom: 7.5vh; }
.inbspace { padding-bottom: calc(8vh - (6.5vh - 1vw)); }
.hugespace { padding-bottom: 15vh; }
.hugerspace { padding-bottom: 8vh; }

.in { padding-left: 2%; }
.indent { padding-right: 5%; }

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 40%;
  padding-top: 20px;
  padding-left: calc(10px + 0.5vw);
  padding-right: calc(10px + 1.5vw);
}

.column2 {
  float: left;
  width: 40%;
  padding-top: 15px;
  padding-left: calc(10px + 0.5vw);
  padding-right: calc(10px + 1.5vw);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.modal, .abt-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: calc(52.5px + 4vh);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
}

.modal-content, .abt-modal-content {
  background-color: #00008B;
  margin: auto;
  padding: calc(12px + 0.35vw + 0.35vh);
  width: 70%;
  overflow: auto;
  overflow-y: auto;
  border: 1.5px solid #0000FF;
}

.abt-modal-content {
  line-height: 120%;
  max-height: calc(100vh - 210px);
}

/* abt unused, leaving for test */
.ph_close, .arc_close, .abt_close, .c_close, .cv_close, .a_close, .w_close, .p_close, .sw_close {
  color: #808080;
  float: right;
  font-size: calc(37.5px + 0.75vw + 0.75vh);
  font-weight: bold;
}

.ph_close:hover, .arc_close:hover, .c_close:hover, .cv_close:hover, .a_close:hover, .w_close:hover, .p_close:hover, .sw_close:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.baritem {
  position: absolute;
  font-size: calc(16px + 1.25vw);
  letter-spacing: 0.125vw;
}

.bigwork {
  font-size: calc(24px + 1.9vw);
  letter-spacing: 0.15vw;
}

 .m_c {
  color: white;
  /* weirdly needed the above when put on github */
  position: absolute;
  text-decoration: none;
  font-size: calc(15px + 0.8vw + 0.5vh);
  padding-bottom: calc(1vh + 0.5vw);
  letter-spacing: 0.075vw;
  border: none;
}

.m_cc {
  text-decoration: none;
  font-size: calc(8px + 0.5vw);
  letter-spacing: 0.075vw;
  border: none;
}

.galleries {
  padding-left: 4vw;
  position: absolute;
  font-size: calc(15px + 0.8vw + 1vh);
  letter-spacing: 0.075vw;
}

.highlite {
  color: #FFFFFF;
  padding-left: 4vw;
  position: absolute;
  font-size: calc(7px + 1vw + 1.2vh);
  width: 65vw;
  letter-spacing: 0.075vw;
}

.slash {
  position: absolute;
  font-size: calc(7px + 1vw + 1.2vh);
}

.slash:hover { text-decoration: none; }

.archive {
  font-size: calc(15px + 1.25vw);
  letter-spacing: 0.075vw;
  text-align: center;
  margin: auto;
  width: 50%;
}

@media only screen and (max-width: 415px) {

  body { padding-bottom: calc(10px + 3vh); }

  .wrapper {
    width: 50.5vw;
    font-size: calc(1.4vw + 20px);
    padding: 0.75vw 0vw 0vw 4vw;
  }

  .about { line-height: 80%; }
  .bigwork { font-size: calc(3vw + 25px); }

  .column1 {
    padding-left: calc(3px + 0.5vw);
    padding-right: calc(10px + 1.25vw);
  }

  .column2 {
    padding-top: 12.5px;
    padding-right: calc(8px + 1vw);
  }

  #header {
    padding-left: calc(10px + 0.5vw);
    font-size: calc(12px + 1.25vw);
    line-height: calc(100% + 0.75vh);
  }

  .left {
    margin-left: 15px;
    padding-top: calc(10px + 7.5vh);
  }

  .back {
    padding-top: calc(15px + 5.5vh);
    padding-left: calc(7.5px + 0.5vw);
  }

  .bha:hover, #backhome:hover { text-decoration: none; }

  .bha:hover:after, #backhome:hover:after {
    content: '';
    font-size: 0px;
  }

  .ph_close, .arc_close, .c_close, .cv_close, .a_close, .w_close, .p_close, .sw_close, .media_close, .bmedia_close, .pmedia_close, .swmedia_close {
     font-size: calc(32.5px + 1vw + 1vh);
   }

  #arrSpace { padding-bottom: 2vh; }
  span.big { font-size: calc(8px + 0.2vh + 0.1vw); }
  span.smallLetters { font-size: calc(8px + 0.1vh + 0.1vw); }

  .images {
    top: calc(42.5px + 7vh);
    left: calc(9vw + 12.5px);
  }

  .absolute2 {
    top: calc(42.5px + 7vh);
    left: 63.5vw;
    width: calc(28px + 20vw);
    padding: calc(1vh + 0.75vw) calc(1vw + 0.5vh) calc(1vh + 0.75vw) calc(1vw + 0.5vh);
    line-height: 80%;
  }

  .soundscape {
    max-width: 20vw;
    left: 27.5vw;
    top: -13vh;
  }

  .sound { width: calc(10px + 30vw); }

  .main {
    position: relative;
    left: -5vw;
    padding-top: calc(10px + 5vh);
  }

  .gap { padding-bottom: calc(4.5vh + 2vw); }
  .homespace { padding-bottom: calc(2.5vh + 1.5vw); }
  .inbspace { padding-bottom: calc(8vh - (6vh - 1vw)); }
  .space { padding-bottom: calc(1.5vh + 1vw); }
  .medspace { padding-bottom: calc(3.25vh + 1vw); }

  .m_c {
    color: white;
    font-size: calc(13px + 0.8vw + 0.5vh);
  }
  .m_cc { font-size: calc(9px + 0.5vw); }

  .modal { padding-top: calc(25px + 10vh); }

  .modal, .abt-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-y: auto;
    background-color: #000000;
  }
  .abt-modal { padding-top: calc(25px + 4vh); }

  .modal-content {
    background-color: #00008B;
    color: white;
    margin: auto;
    width: 80%;
    overflow-y: auto;
  }

  .abt-modal-content { line-height: 80%; }

  .galleries { font-size: calc(12px + 0.8vw + 1vh); }

  .highlite {
    padding-left: 6vw;
    padding-bottom: 5vw;
    font-size: calc(6px + 0.9vw + 0.9vh);
  }
  .slash { font-size: calc(6px + 0.9vw + 0.9vh); }
}
