body { font-family: Times, serif; }

#subscreen { z-index: 1; }
#screen { z-index: 2; }
.container, #topmenu { z-index: 3; }
.overlay, .overlay-full, .overlay2, .overlay-content-full { z-index: 4; }
.overlay-full, .pic-container { z-index: 5; }
.fullscreen, #content, #content-full, #content2, #mode { z-index: 6; }
.arrows { z-index: 7; }

#dir {
  font-weight: bold;
  font-size: 30px;
  padding-left: 10px;
  position: absolute;
  top: 7.5px;
  left: 5px;
}

#topmenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

span {
  font-size: 20px;
  vertical-align: middle;
}

.small { font-size: 12px; }

.overlay, .overlay-full, .fullscreen, .overlay2 {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

.fullscreen {
  display: block;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fullimage {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.overlay-content, .overlay-content2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 50%;
  height: 50%;
  overflow: auto;
  display: inline-block;
}

.overlay-content-full {
  top: 50px;
  left: 0;
  position: absolute;
  width: calc(100% - 5px);
  height: calc(100% - 55px);
  overflow: auto;
  display: inline-block;
}

#content, #content-full, #content2 {
  width: 95%;
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  overflow: auto;
  overflow-y: auto;
}

.pic-container {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
}

#blurb {
  width: 75%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 5px;
  font-size: 14px;
}

#head {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
}

.title, .title-full, .title2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFFAF0;
}

.piece { height: 200px; }

.gallery { height: 100%; }

.work {
  height: 300px;
  display: inline-block;
  margin: 35px 35px 0px 35px;
  text-align: center;
}

#close {
  position: absolute;
  left: 7.5px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}

#subscreen {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000000;
}

#screen {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 20px;
}

.container {
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
}

.item, .subitem {
  text-align: center;
  display: inline-block;
}

.item { margin: 55px 25px 55px 25px; }

.subitem { margin: 25px; }

.gallery:hover, .subitem:hover, .item:hover, #close:hover, .arrows:hover, #mode:hover { cursor: pointer; }

.section { padding: 1.5px 5px 1.5px 5px; }

.icon {
  padding-top: 10px;
  width: 60px;
  vertical-align: middle;
}

.selficon {
  padding-top: 10px;
  width: 100px;
}

#mode {
  position: fixed;
  top: 5px;
  right: 5px;
  height: 40px;
}

.arrows {
  position: absolute;
  top: 47.5%;
  width: 40px;
  opacity: 35%;
}

.arrows:hover { opacity: 100%; }

#left { left: 0; }
#right, #exit { right: 0; }
#exit { top: 0; width: 35px; }

@media only screen and (max-width: 414px) {
  span { font-size: 18px; }
  .item {
    width: 100px;
    margin: 50px 10px 50px 10px;
  }
  .overlay-content, .overlay-content2 {
    width: 75%;
    height: 75%;
  }
}
