html { font-family: "Helvetica"; color: white; }
p { font-size: 12px; }
#slide { position: relative; top: -21px; left: 350px; display: none; }
#space { padding-bottom: 50px; }
#attr { color: white; }
#smallSpace { padding-bottom: 25px; }
.gray { background-color: #E6E6E6; position: absolute; width: 850px; height: 690px; }
.text { font-size: 11px; text-align: left; }
.ring { stroke: black; stroke-width: 0.75; }
.polyline { stroke: white; stroke-width: 0.75; fill: none; }
.ring:hover, .hot:hover { stroke: white; }

#title {
    color: white;
    padding-left: 1.5vw;
    font-size: 40px;
    letter-spacing: 2px;
}

body { background-color: black; }

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  z-index: 1000;
}

#tooltip.hidden { display: none; }
#tooltip p { margin: 0; color: black; font-size: 12px; line-height: 20px; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: calc(52.5px + 4vh);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
}

.modal-content {
  background-color: #00008B;
  margin: auto;
  padding: calc(12px + 0.35vw + 0.35vh);
  width: 70%;
  overflow: auto;
  overflow-y: auto;
  border: 1.5px solid #0000FF;
}

#myBtn {
  position: absolute;
  left: 900px;
  top: 500px;
  background-color: #e6e6e6;
  color: black;
  padding: 8px;
  font-size: 14px;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 20px;
}

#myBtn:hover { background-color: #ffa500; }

/* https://www.cssscript.com/create-a-multi-level-drop-down-menu-with-pure-css/ */
ul { list-style: none; padding: 0; margin: 0; }
ul li { display: block; position: relative; float: left; background: #808080; }
li ul { display: none; }
ul li a {
  display: block;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
  font-size: 12px;
  white-space: nowrap;
  color: #fff;
}
ul li a:hover { background: #ffa500; }
li:hover > ul { display: block; position: absolute; }
li:hover li { float: none; }
li:hover a { background: #808080; }
li:hover li a:hover { background: #ffa500; }
.main-navigation li ul li { z-index: 1000; border-top: 0; }
ul ul ul { left: 100%; top: 0; }
ul:before, ul:after { content: " "; display: table; }
ul:after { clear: both; }

.label-text { fill: #393939; }
.label-line { stroke-width: 1; stroke: #393939; }
.label-circle { fill: #393939; }

#animate {
  display: none;
  position: absolute;
  left: 400px;
  top: 55px;
  border: 1px solid black;
  border-color: black;
  padding: 4px;
  font-size: 12px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#animate:hover { background-color: #ffa500; }

#output {
  color: black;
  letter-spacing: 1px;
  display: none;
  position: absolute;
  left: 400px;
  top: -7.5px;
  font-size: 15px;
  font-weight: 1000;
}

.legend, .legend:hover { fill: white; }

.hot {
  fill: #F55C95;
  stroke: black;
  stroke-width: 0.75;
}

.key { stroke: black; stroke-width: 0.75; }

.back {
  position: absolute;
  width: 200px;
  padding-top: calc(50px + 3vh);
  margin-left: 890px;
}

.bha {
  position: fixed;
  font-size: calc(37.5px + 0.3vw + 0.6vh);
  color: #808080;
  letter-spacing: 0.125vw;
}

.bha:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.bha:hover:after {
  content: ' back';
  font-size: 30%;
}

#backhome:hover:after {
  content: ' home';
  font-size: 30%;
}

/* abt unused, leaving for test */
.close, .ph_close, .arc_close, .abt_close, .c_close, .cv_close, .a_close, .w_close, .p_close, .sw_close {
  color: #808080;
  float: right;
  font-size: calc(37.5px + 0.75vw + 0.75vh);
  font-weight: bold;
  line-height: 100%;
}

a, a:visited .close:hover, .ph_close:hover, .arc_close:hover, .c_close:hover, .cv_close:hover, .a_close:hover, .w_close:hover, .p_close:hover, .sw_close:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.galleries {
  padding-left: 4vw;
  position: absolute;
  font-size: calc(15px + 0.8vw + 1vh);
  letter-spacing: 0.075vw;
}

.highlite {
  color: #FFFFFF;
  padding-left: 4vw;
  position: absolute;
  font-size: calc(7px + 1vw + 1.2vh);
  width: 65vw;
  letter-spacing: 0.075vw;
}

.slash {
  position: absolute;
  font-size: calc(7px + 1vw + 1.2vh);
}

.slash:hover { text-decoration: none; }

.archive {
  font-size: calc(15px + 1.25vw);
  letter-spacing: 0.075vw;
  text-align: center;
  margin: auto;
  width: 50%;
}

.space { padding-bottom: calc(1vh + 1vw); }
.medspace { padding-bottom: calc(2vh + 1vw); }
.gap { padding-bottom: calc(3.5vh + 2vw); }
.highgap { padding-bottom: calc(7.5px + 6vh + 2vw); }
.hugespace { padding-bottom: 15vh; }
#arrSpace { padding-bottom: 5vh; }
.iSpace { padding-bottom: calc(2.5vh + 2.5vw); }

a:hover, .galleries:hover, .highlite:hover { text-decoration: underline; cursor: auto; }
